:root {
  /* Fonts */
  --font-primary: "Source Sans Pro", sans-serif;
  --font-secondary: "Spin-Cycle-OT", sans-serif;
  /* Primary Colors */
  --primary-color: rgb(
    255,
    101,
    101
  ); /* Vibrant red for call-to-action and highlights */
  --primary-hover-color: rgba(
    255,
    101,
    101,
    0.9
  ); /* Slightly darker red for hover states */
  --font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  line-height: 1.5;
  color: var(--font-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
a:hover {
  color: var(--primary-hover-color);
}
button {
  color: var(--font-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--primary-color);
}
button:hover {
  background-color: var(--primary-hover-color);
  color: var(--font-color);
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  /* Small screens */
  /* Styles for small screens (Tablets in portrait mode) */
}

@media screen and (max-width: 480px) {
  /* Extra small screens */
  /* Styles for mobile screens */
}
