:root {
  /* Fonts */
  --font-primary: "Source Sans Pro", sans-serif;
  --font-secondary: "Spin-Cycle-OT", sans-serif;
  /* Primary Colors */
  --primary-color: #ff6565; /* Vibrant red for call-to-action and highlights */
  --primary-hover-color: rgba(
    255,
    101,
    101,
    0.9
  ); /* Slightly darker red for hover states */
  --font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  line-height: 1.5;
  color: var(--font-color);
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
a:hover {
  color: var(--primary-hover-color);
}
button {
  color: var(--font-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--primary-color);
}
button:hover {
  background-color: var(--primary-hover-color);
  color: var(--font-color);
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  background-image: url(images/headphones_hero_1.jpg);
  object-fit: cover;
  background-position: center center; /* Ensure background is centered */
  background-size: cover; /* Ensure background covers the area */

  padding-bottom: 115px;
}
nav {
  justify-content: space-between;
  max-width: 80%;
  margin-inline: auto;
  padding: 30px 5px;
  margin-bottom: 250px;
}

.nav-right ul {
  justify-content: space-between;
  width: 255px;
}
.nav-right ul li a {
  font-weight: bold;
  font-size: 12px;
}

.intro {
  text-align: center;
  max-width: 750px;
  margin-inline: auto;
  margin-bottom: 115px;
}
.intro > h1 {
  font-size: 32px;
}
.intro > button {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 65px;
}
.menu-toggle {
  display: none;
}

.burger-icon {
  font-size: 30px;
  cursor: pointer;
  display: none; /* Hide on large screens */
}

/* Media Queries */

@media screen and (max-width: 480px) {
  .nav-right ul {
    display: none; /* Hide the nav items by default on small screens */
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .menu-toggle:checked + .burger-icon + ul {
    display: flex; /* Show nav items when checkbox is checked */
    position: absolute;
    top: 100px;
    left: -5px;
    font-size: 3em;
  }

  .burger-icon {
    display: block; /* Show the burger icon on mobile screens */
  }
  header {
    background-position: center center; /* Center the background image on mobile */
  }
  .nav-left {
    order: 2;
  }
  .nav-right {
    order: 1;
  }
}
.options {
  color: black;
  padding: 110px 200px;
  text-align: center;
}

/* .options .paragraph {
          max-width: 637px;
          min-width: 300px;
          margin: auto;
          padding-top: 80px;
          margin-bottom: 100px;
          text-align: center;
        } */
#paragraph {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1.6;
  max-width: 600px;
  min-width: calc(7 * 5ch);
  margin-inline: auto;
  margin-block: 50px;
  text-align: center;
  word-wrap: break-word; /* Prevents text overflow */
}
.options .list .option {
  flex-direction: column;
  width: 200px;
  height: 180px;
  justify-content: space-between;
  text-align: center;
}
.options .list .option:hover {
  animation: fun-vibes 2s ease-in-out infinite;
}
.options .list {
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  margin-inline: auto;
}
@media screen and (max-width: 480px) {
  .options {
    color: black;
  }

  /* .options .paragraph {
            margin-inline: auto;
            padding-top: 80px;
            margin-bottom: 100px;
            text-align: center;
            background-color: #ff6565; */

  #paragraph {
    transform: translateX(-80px);
  }
  .options .list {
    flex-direction: column;
    gap: 100px;
  }
}
:root {
  /* Fonts */
  --font-primary: "Source Sans Pro", sans-serif;
  --font-secondary: "Spin-Cycle-OT", sans-serif;
  /* Primary Colors */
  --primary-color: #ff6565; /* Vibrant red for call-to-action and highlights */
  --primary-hover-color: rgba(
    255,
    101,
    101,
    0.9
  ); /* Slightly darker red for hover states */
  --font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  line-height: 1.5;
  color: var(--font-color);
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
a:hover {
  color: var(--primary-hover-color);
}
button {
  color: var(--font-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--primary-color);
}
button:hover {
  background-color: var(--primary-hover-color);
  color: var(--font-color);
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  background-image: url(images/headphones_hero_1.jpg);
  object-fit: cover;
  background-position: center center; /* Ensure background is centered */
  background-size: cover; /* Ensure background covers the area */

  padding-bottom: 115px;
}
nav {
  justify-content: space-between;
  max-width: 80%;
  margin-inline: auto;
  padding: 30px 5px;
  margin-bottom: 250px;
}

.nav-right ul {
  justify-content: space-between;
  width: 255px;
}
.nav-right ul li a {
  font-weight: bold;
  font-size: 12px;
}

.intro {
  text-align: center;
  max-width: 750px;
  margin-inline: auto;
  margin-bottom: 115px;
}
.intro > h1 {
  font-size: 32px;
}
.intro > button {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 65px;
}
.menu-toggle {
  display: none;
}

.burger-icon {
  font-size: 30px;
  cursor: pointer;
  display: none; /* Hide on large screens */
}

/* Media Queries */

@media screen and (max-width: 480px) {
  .nav-right ul {
    display: none; /* Hide the nav items by default on small screens */
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .menu-toggle:checked + .burger-icon + ul {
    display: flex; /* Show nav items when checkbox is checked */
    position: absolute;
    top: 100px;
    left: -5px;
    font-size: 3em;
  }

  .burger-icon {
    display: block; /* Show the burger icon on mobile screens */
  }
  header {
    background-position: center center; /* Center the background image on mobile */
  }
  .nav-left {
    order: 2;
  }
  .nav-right {
    order: 1;
  }
}
.options {
  color: black;
  padding: 110px 200px;
  text-align: center;
}

#paragraph {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1.6;
  max-width: 600px;
  min-width: calc(7 * 5ch);
  margin-inline: auto;
  margin-block: 50px;
  text-align: center;
  word-wrap: break-word; /* Prevents text overflow */
}
.options .list .option {
  flex-direction: column;
  width: 200px;
  height: 180px;
  justify-content: space-between;
  text-align: center;
}
.options .list {
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-inline: auto;
}
@media screen and (max-width: 480px) {
  .options {
    color: black;
  }

  /* .options .paragraph {
            margin-inline: auto;
            padding-top: 80px;
            margin-bottom: 100px;
            text-align: center;
            background-color: #ff6565; */

  #paragraph {
    transform: translateX(-80px);
  }
  .options .list {
    flex-direction: column;
    gap: 100px;
  }
}
.targets h2 {
  font-size: 2rem;
}
.targets p {
  font-size: 10px;
}
.targets .target {
  background-color: var(--primary-color);
  width: 140px;
  height: 140px;
  padding: 50px;
  color: white;
  clip-path: polygon(
    50% 0%,
    /* Top center */ 100% 38%,
    /* Top-right corner */ 82% 100%,
    /* Bottom-right corner */ 18% 100%,
    /* Bottom-left corner */ 0% 38% /* Top-left corner */
  ); /* Creates the hexagonal shape */
}
.options2 {
  background-image: url(images/headphones_hero_2.jpg);
  object-fit: cover;
  background-position: center center; /* Ensure background is centered */
  background-size: cover; /* Ensure background covers the area */
}
.options2 {
  color: white;
}
.target:hover {
  animation: fun-vibes 2s ease-in-out infinite;
}
.contactUs-section {
  color: black;
  width: 335px;
  text-align: center;
  margin-inline: auto;
  margin-block: 50px;
}
.contactUs-section form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  margin-inline: auto;
}
.contactUs-section form label {
  display: none;
}
.contactUs-section form input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
}

.contactUs-section form input::placeholder {
  color: black; /* Placeholder text color */
  font-style: italic; /* Placeholder text style */
  font-size: 14px; /* Placeholder text size */
}

footer {
  background-color: #071629;
  padding: 90px 200px;
}
footer .footer-top {
  width: 80%;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 70px;
}
body > footer > div > div.footer-right > ul > li a img {
  background-color: #ffffff;
  border-radius: 50%;
}
footer .footer-right ul {
  gap: 5px;
}
footer p {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}
@media screen and (max-width: 480px) {
  footer {
    padding: 100px 50px;
  }
  footer .footer-top {
    width: 80%;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    margin-bottom: 70px;
  }
}

@keyframes fun-vibes {
  0% {
    transform: scale(1) rotate(0deg) translateY(0);
    opacity: 1;
  }
  25% {
    transform: scale(1.2) rotate(15deg) translateY(-20px);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.8) rotate(-15deg) translateY(10px);
    opacity: 0.5;
  }
  75% {
    transform: scale(1.1) rotate(10deg) translateY(-10px);
    opacity: 0.9;
  }
  100% {
    transform: scale(1) rotate(0deg) translateY(0);
    opacity: 1;
  }
}
